<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4PJSE6EX9W"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4PJSE6EX9W');
</script>
  
  <meta name="google-site-verification" content="Oi87Iz4qlF_Y2iF8dEC_1MImwIWZjbfwU1Hyy7TuUzA" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {% seo %}

  <link rel="icon" type="image/png" href="{{ '/assets/favicon.png' | relative_url }}" />

  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}" />
</head>
  
<body>
  <div class="site-banner">
  <img src="{{ '/assets/banner.jpg' | relative_url }}" alt="Dad in Command Dispatches banner" />
  </div>
  
  <header>
    <h1><a href="/" class="site-title-link">{{ site.title }}</a></h1>
    <nav>
      <a href="{{ '/' | relative_url }}" {% if page.url == '/' %}class="active"{% endif %}>Home</a>
      <a href="{{ '/blog/' | relative_url }}" {% if page.url contains '/blog' %}class="active"{% endif %}>Blog</a>
      <a href="{{ '/app/' | relative_url }}" {% if page.url == '/app/' %}class="active"{% endif %}>App</a>
      <a href="{{ '/about/' | relative_url }}" {% if page.url == '/about/' %}class="active"{% endif %}>About</a>
    </nav>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <a href="https://www.buymeacoffee.com/jonny752" target="_blank" rel="noopener noreferrer">
      <img src="https://img.buymeacoffee.com/button-api/?text=Buy%20me%20a%20coffee&emoji=&slug=jonny752&button_colour=FFDD00&font_colour=000000&outline_colour=000000&coffee_colour=ffffff" alt="Buy Me a Coffee" style="height: 35px !important;width: auto !important;" >
    </a>
  </p>
  <p><a href="https://www.buymeacoffee.com/jonny752" target="_blank" rel="noopener noreferrer">Support Dad in Command on Buy Me a Coffee</a></p>
    
    <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}.Made with Care By Jonny. All rights reserved.</p>
  <p>
  </footer>
</body>
</html>

